<h1>About Bloccit</h1>
<p>Created by: Me</p>
<button type="button" class='bn'><span class="bntext"><%= link_to "Linkedin", "https://www.linkedin.com/in/nehemiah-newell-b63ab3b7", class: "social-btn" %></span></button> 