<h1>All Posts</h1>
<% @posts.each_with_index do |post, inx| %>
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading">
                <% if 0 == inx % 5 %>
                    <%= link_to  "Spam", post %>
                <% else %>
                    <%= link_to post.title, post %>
                <% end %>
            </h4>
        </div>
    </div>
<% end %>