// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bn {
    position: relative;
    border-radius: 50%;
    box-shadow: 1em 1em 1.5em #666666;
    background: #ffffff;
    border: none;
    width: 6em;
    height: 6em;
}

.bn:hover {
    box-shadow: 1.5em 1.5em 2em black, -.1em -.1em 2.5em #666666;
    color: black;
    background-color:white;
}

.bntext
{
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
}
